<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets_and_javascripts' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <section class="container">
      <div class="row">
        <div class="span10 offset1">
          <%= yield %>
        </div>
      </div>
    </section>
    <%= render 'layouts/footer' %>
  </body>
</html>